<header class="header">

  <div class="left-section">

    <button class="menu-btn"
  type="button"
  (click)="toggleMenu()">
      ☰
    </button>

    <div class="logo">

      <h1>BuildTrack</h1>

      <p>Construction Management Platform</p>

    </div>

  </div>

  <div class="right-section">

    <div class="search">

      <input
        type="text"
        placeholder="Search projects, users...">

    </div>

    <button class="icon-btn">

      🔔

    </button>

    <div class="profile">

      <div class="avatar">
        R
      </div>

      <div>

        <h4>Rithvika</h4>

        <span>Administrator</span>

      </div>

    </div>

  </div>

</header>