table{

width:100%;

margin-top:20px;

}

.status{

padding:6px 12px;

border-radius:20px;

font-size:13px;

font-weight:600;

}

.active{

background:#DCFCE7;

color:#15803D;

}

.completed{

background:#DBEAFE;

color:#1D4ED8;

}

.planning{

background:#FEF3C7;

color:#B45309;

}

.delayed{

background:#FEE2E2;

color:#B91C1C;

}

mat-card{

padding:20px;

border-radius:16px;

margin-top:30px;

}