<mat-toolbar class="header">

    <div class="search-box">

        <mat-icon>search</mat-icon>

        <input
            type="text"
            placeholder="Search Projects, Users, Contractors..."
        />

    </div>

    <span class="spacer"></span>

    <button mat-icon-button>

        <mat-icon>notifications</mat-icon>

    </button>

    <button mat-icon-button>

        <mat-icon>mail</mat-icon>

    </button>

    <div class="profile">

        <div class="avatar">
            S
        </div>

        <div>

            <h4>Shruti</h4>

            <p>Administrator</p>

        </div>

    </div>

</mat-toolbar>