.kpi-card{

    position:relative;

    border-radius:16px;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

    transition:.3s;

    cursor:pointer;

    overflow:hidden;

}

.kpi-card:hover{

    transform:translateY(-6px);

}

.top-border{

    height:6px;

}

.card-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:24px;

}

.card-content h3{

    color:#6b7280;

    margin:0;

    font-size:15px;

}

.card-content h1{

    margin:12px 0;

    font-size:34px;

    color:#111827;

}

.card-content p{

    color:#16a34a;

    margin:0;

    font-size:13px;

}

.icon{

    width:64px;

    height:64px;

    border-radius:16px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.icon mat-icon{

    color:white;

    font-size:32px;

    width:32px;

    height:32px;

}