*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

.header{

    height:80px;

    width:100%;

    background:#ffffff;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    border-bottom:1px solid #e5e7eb;

}

.left-section{

    display:flex;

    align-items:center;

    gap:18px;

}

.menu-btn{

    width:48px;

    height:48px;

    border:none;

    border-radius:12px;

    background:#F97316;

    color:white;

    font-size:24px;

    cursor:pointer;

    transition:.3s;

}

.menu-btn:hover{

    background:#EA580C;

}

.logo{

    display:flex;

    flex-direction:column;

}

.logo h1{

    font-size:28px;

    color:#1F2937;

}

.logo p{

    color:#6B7280;

    font-size:12px;

}

.right-section{

    display:flex;

    align-items:center;

    gap:20px;

}

.search input{

    width:350px;

    height:45px;

    border:1px solid #ddd;

    border-radius:25px;

    padding:0 18px;

    outline:none;

    font-size:15px;

}

.search input:focus{

    border-color:#F97316;

}

.icon-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:#FFF4EC;

    font-size:20px;

    cursor:pointer;

}

.profile{

    display:flex;

    align-items:center;

    gap:12px;

}

.avatar{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#F97316;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-weight:bold;

}

.profile h4{

    color:#1F2937;

}

.profile span{

    color:#6B7280;

    font-size:13px;

}