<div class="login-page">

  <!-- Dark Overlay -->
  <div class="overlay">

    <div class="login-card">

      <div class="logo">
        🏗
      </div>

      <h1>BuildTrack</h1>

      <p class="subtitle">
        Construction Project Management Platform
      </p>

      <h2>Welcome Back 👋</h2>

      <p class="welcome-text">
        Sign in to continue to your workspace.
      </p>
<form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Email</mat-label>

        <input
  matInput
  type="email"
  formControlName="email">

<mat-error *ngIf="loginForm.get('email')?.hasError('required')">
  Email is required
</mat-error>

<mat-error *ngIf="loginForm.get('email')?.hasError('email')">
  Enter a valid email address
</mat-error>

        <mat-icon matSuffix>mail</mat-icon>

      </mat-form-field>


      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Password</mat-label>

        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
  Password is required
</mat-error>

<mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
  Password must be at least 8 characters and include an uppercase letter,
  lowercase letter, number, and special character.
</mat-error>

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword=!hidePassword">

          <mat-icon>

            {{ hidePassword ? 'visibility_off' : 'visibility' }}

          </mat-icon>

        </button>

      </mat-form-field>

      <div class="options">

        <mat-checkbox formControlName="rememberMe">
          Remember Me
        </mat-checkbox>

        <a routerLink="/forgot-password" class="forgot-link">
  Forgot Password?
</a>

      </div>

      <button
  mat-raised-button
  class="login-btn"
  type="submit"
  [disabled]="loginForm.invalid">

        Login

      </button>
</form>
      <p class="register">

        Don't have an account?

        <a routerLink="/register">

          Register

        </a>

      </p>

    </div>

  </div>

  <app-footer></app-footer>


</div>