<header class="top-navbar">

  <div class="left">

    <div class="breadcrumb">
      <span>Project Management</span>
      <span>/</span>
      <strong>Project Listing</strong>
    </div>

  </div>

  <div class="right">

    <!-- Search -->

    <div class="search-box">

      <i class="fas fa-search"></i>

      <input
      type="text"
      placeholder="Search project..."
      >

    </div>

    <!-- Notification -->

    <button class="icon-btn">

      <i class="fas fa-bell"></i>

    </button>

    <!-- Message -->

    <button class="icon-btn">

      <i class="fas fa-envelope"></i>

    </button>

    <!-- Settings -->

    <button class="icon-btn">

      <i class="fas fa-cog"></i>

    </button>

    <!-- Profile -->

    <div class="profile">

      <img
      src="https://i.pravatar.cc/100"
      alt="profile">

      <div>

        <h6>Saurabh Pandey</h6>

        <span>Administrator</span>

      </div>

    </div>

  </div>

</header>