<header class="header">

  <div class="header-title">

    <h1>Project Manager Dashboard</h1>

    <p>
      Construction Project Management & Site Monitoring Platform
    </p>

  </div>


  <div class="header-actions">

    <input 
      type="text" 
      placeholder="Search Project">


    <button>
      🔍
    </button>


    <button class="notification-btn">
      🔔
    </button>


    <div class="profile">

      <span>
        👤
      </span>

      <p>
        Project Manager
      </p>

    </div>


  </div>

</header>
