.welcome{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#ffffff;

    padding:30px 35px;

    border-radius:18px;

    box-shadow:0 6px 18px rgba(0,0,0,.08);

    margin-bottom:30px;

    border-left:6px solid #F97316;

}

.welcome-content{

    max-width:70%;

}

.badge{

    display:inline-block;

    background:#FFF7ED;

    color:#F97316;

    padding:6px 14px;

    border-radius:20px;

    font-size:12px;

    font-weight:600;

    letter-spacing:1px;

    margin-bottom:15px;

}

.welcome h1{

    font-size:34px;

    color:#1F2937;

    margin:0;

    margin-bottom:12px;

    font-weight:700;

}

.welcome p{

    color:#6B7280;

    font-size:16px;

    line-height:1.6;

    margin:0;

}

.date-card{

    text-align:right;

    background:#F8FAFC;

    padding:18px 24px;

    border-radius:14px;

    min-width:190px;

}

.day{

    color:#6B7280;

    font-size:14px;

}

.date-card h2{

    margin:10px 0;

    color:#F97316;

    font-size:24px;

}

.date-card p{

    color:#9CA3AF;

    font-size:13px;

}