<div class="reset-container">

  <div class="reset-card">

    <h2>Reset Password</h2>

    <p class="subtitle">
      Create a new password for your BuildTrack account.
    </p>

    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()">

      <!-- New Password -->

      <mat-form-field
        appearance="outline"
        class="full-width">

        <mat-label>New Password</mat-label>

        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password">

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword">

          <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>

        </button>

        <mat-error
          *ngIf="resetForm.get('password')?.hasError('required')">

          Password is required

        </mat-error>

        <mat-error
          *ngIf="resetForm.get('password')?.hasError('pattern')">

          Password must contain at least:
          <br>
          • 8 characters
          <br>
          • One uppercase letter
          <br>
          • One lowercase letter
          <br>
          • One number
          <br>
          • One special character

        </mat-error>

      </mat-form-field>


      <!-- Confirm Password -->

      <mat-form-field
        appearance="outline"
        class="full-width">

        <mat-label>Confirm Password</mat-label>

        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword">

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hideConfirmPassword = !hideConfirmPassword">

          <mat-icon>
            {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>

        </button>

        <mat-error
          *ngIf="resetForm.get('confirmPassword')?.hasError('required')">

          Confirm Password is required

        </mat-error>

        <mat-error
          *ngIf="
            resetForm.hasError('passwordMismatch') &&
            resetForm.get('confirmPassword')?.touched
          ">

          Passwords do not match

        </mat-error>

      </mat-form-field>


      <!-- Reset Button -->

      <button
        mat-raised-button
        color="primary"
        class="reset-btn"
        type="submit"
        [disabled]="resetForm.invalid">

        Reset Password

      </button>

    </form>


    <div class="back-link">

      <a routerLink="/login">
        ← Back to Login
      </a>

    </div>

  </div>

</div>