.kpi-card{

    background:#FFFFFF;

    border-radius:18px;

    padding:22px;

    box-shadow:0 4px 15px rgba(0,0,0,.08);

    transition:.3s;

    cursor:pointer;

    display:flex;

    flex-direction:column;

    gap:18px;

    border-left:5px solid #F97316;

}

.kpi-card:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.card-header{

    display:flex;

    align-items:center;

    gap:12px;

    color:#4B5563;

    font-size:16px;

    font-weight:600;

}

.card-header mat-icon{

    color:#F97316;

    font-size:28px;

    width:28px;

    height:28px;

}

.card-value{

    font-size:38px;

    font-weight:700;

    color:#111827;

}

.card-footer{

    color:#6B7280;

    font-size:14px;

}