<div class="page-container">

  <div class="breadcrumb">

    <a routerLink="/project-manager/dashboard">
      Dashboard
    </a>

    <span>></span>

    <a routerLink="/project-manager/my-projects">
      My Projects
    </a>

    <span>></span>

    <a routerLink="/project-manager/project-details">
      Project Details
    </a>

    <span>></span>

    <strong>
      Project Schedule
    </strong>

  </div>


  <!-- Page Header -->

  <div class="page-header">

    <div>

      <h2>
        Project Schedule
      </h2>

      <p>
        Create and manage complete project planning activities
      </p>

    </div>


    <button class="primary-btn">

      + Add Schedule

    </button>

  </div>


  <!-- Gantt Timeline -->

  <div class="card">

    <h3>
      Project Timeline
    </h3>


    <div class="timeline">

      <!-- Loading -->

      <div
        *ngIf="loading">

        Loading...

      </div>


      <!-- Dynamic Timeline -->

      <ng-container
        *ngIf="!loading">

        <ng-container
          *ngFor="
            let schedule of schedules;
            let last = last
          ">

          <div
            class="timeline-item"
            [ngClass]="{
              'completed':
                schedule.status === 'Completed',

              'active':
                schedule.status === 'In Progress',

              'pending':
                schedule.status === 'Pending' ||
                schedule.status === 'Not Started'
            }">

            {{ schedule.taskName }}

          </div>


          <div
            class="arrow"
            *ngIf="!last">

            →

          </div>

        </ng-container>


        <!-- No Schedule -->

        <div
          *ngIf="schedules.length === 0">

          No schedules found.

        </div>

      </ng-container>

    </div>

  </div>


  <!-- Schedule Table -->


  <div class="card">


    <div class="table-header">

      <h3>
        Activity Schedule
      </h3>

    </div>


    <!-- Error -->

    <div
      *ngIf="errorMessage"
      class="error-message">

      {{ errorMessage }}

    </div>


    <table>

      <thead>

        <tr>

          <th>
            Task Name
          </th>

          <th>
            Start Date
          </th>

          <th>
            End Date
          </th>

          <th>
            Duration
          </th>

          <th>
            Assigned Engineer
          </th>

          <th>
            Status
          </th>

          <th>
            Actions
          </th>

        </tr>

      </thead>


      <tbody>


        <!-- Loading -->

        <tr
          *ngIf="loading">

          <td
            colspan="7">

            Loading schedules...

          </td>

        </tr>


        <!-- API DATA -->

        <tr
          *ngFor="
            let schedule of schedules;
            let i = index
          ">


          <td>

            {{ schedule.taskName }}

          </td>


          <td>

            {{ schedule.startDate }}

          </td>


          <td>

            {{ schedule.endDate }}

          </td>


          <td>

            {{ schedule.duration }}

          </td>


          <td>

            {{ schedule.engineer }}

          </td>


          <td>

            <span
              class="status"
              [ngClass]="schedule.status">

              {{ schedule.status }}

            </span>

          </td>


          <td>


            <button
              class="edit-btn"
              type="button">

              Edit

            </button>


            <button
              class="delete-btn"
              type="button"
              (click)="deleteSchedule(i)">

              Delete

            </button>


          </td>


        </tr>


        <!-- NO DATA -->

        <tr
          *ngIf="
            !loading &&
            schedules.length === 0
          ">

          <td
            colspan="7">

            No schedule records found.

          </td>

        </tr>


      </tbody>

    </table>

  </div>


  <!-- Add Schedule Form -->


      <div class="card">

        <h3>Add New Schedule</h3>

        <div class="form-grid">

          <!-- Task Name -->
           <span>project Id</span>
            <input
              type="number"
              placeholder="Project ID"
              [(ngModel)]="newSchedule.projectId"
            />

          <input
            type="text"
            placeholder="Task Name"
            [(ngModel)]="newSchedule.taskName"
          />

          <!-- Start Date -->
          <input
            type="date"
            [(ngModel)]="newSchedule.startDate"
          />

          <!-- End Date -->
          <input
            type="date"
            [(ngModel)]="newSchedule.endDate"
          />

          <!-- Assigned Engineer -->
          <input
            type="text"
            placeholder="Assigned Engineer"
            [(ngModel)]="newSchedule.engineer"
          />

          <!-- Status -->
          <select
            [(ngModel)]="newSchedule.status"
          >
            <option value="Not Started">
              Not Started
            </option>

            <option value="Pending">
              Pending
            </option>

            <option value="In Progress">
              In Progress
            </option>

            <option value="Completed">
              Completed
            </option>
          </select>

        </div>

        <!-- Duration -->
         <span>Duration</span>
        <input
          type="number"
          placeholder="Duration (Days)"
          [(ngModel)]="newSchedule.duration"
        />

        <button
          class="primary-btn save-btn"
          (click)="saveSchedule()"
          [disabled]="saving"
          
        >
          {{ saving ? 'Saving...' : 'Save Schedule' }}
        </button>

      </div>

</div>