<div class="table-card">

    <div class="table-header">

        <h2>Live Projects</h2>

        <!-- <button>View All</button> -->

    </div>

    <table>

        <thead>

            <tr>

                <th>Poject Code</th>
                <th>Client Id</th>
                <th>Project</th>
                <th>Manager</th>
                <th>Progress</th>
                <th>Status</th>
                <th>priority</th>
                <th>action</th>


            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let project of project">

                <td>{{project.project_code}}</td>
                <td>{{project.client_id}}</td>
                <td>{{project.name}}</td>
                <td> saurabh</td>
                <td> 45 %</td>
                <td>{{project.status}}</td>
                <td>{{project.priority}}</td>
                <div class="table-header">
                    <button [routerLink]="['/admin/project-details',project.project_id]">

                        View All details →

                    </button>
                        <button
                        type="button"
                        [routerLink]="['/admin/edit-project', project.project_id]">
                        Edit
                        </button>
                </div>


            </tr>



        </tbody>

    </table>

</div>