.kpi-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:24px;

    margin-bottom:35px;

}

.middle-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:24px;

    margin-bottom:35px;

}